#visitor {
  display: block;
  padding: 0;
  margin: 0;
  background-color: darkslategray;
}

#visitor h1 {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-size: 2em;
  color: white;
  padding-top: 70px;
}

#visitor h2 {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  font-size: 1.3em;
  color: rgba(224, 222, 222, 0.575);
  font-style: italic;
  padding-top: 30px;
}
#visitor h3 {
  text-align: left;
  font-size: 1em;
  margin: 0 auto;
  width: 100%;
  color: rgba(255, 255, 255, 0.835);
  font-style: italic;
  padding-top: 30px;
}

#visitor form {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

#visitor form input, #visitor form select {
  width: 100%;
  margin: 20px auto;
  border: none;
  padding: 10px;
  background: rgb(224, 224, 211);
  color: rgb(129, 129, 129);
}

#visitor form button {
  width: 40%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  background-color: rgb(73, 136, 120);
  border: none;
  color: white;
}

#visitor .imgUnloaded {
  display: none;
}
#visitor .imgLoaded {
  width: 60%;
  margin: 50px 20%;
}

@media(max-width: 801px) {
  #visitor form {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 100px;
    padding-right: 20px;
    padding-left: 20px;
  }
  #visitor .imgLoaded {
    width: 100%;
    margin: 20px auto;
  }
  #visitor form button {
    width: 70%;
  }
}